
.gaugesRow {
    background:url(images/mahogany-wood-grain.png);
}

/*.topControls {
    background-image: 'images/mahogany-wood-grain.jpg';
}*/

#temperatureGraph 
#humidityGraph 
#barometricGraph 
#pirGraph {
    "min-width: 253px; 
    height: 229px; 
    margin: 0 auto"
}
